@model Cadastro_e_Acesso.Models.Estado

@{
    ViewData["Title"] = "Details";
}
<style>
.row {
        max-width: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: lightgreen;
    }
    .a {
        margin: 20px;
        text-align: center;
        font-size: 2em;
    }
</style>

<h1><stong>DETALHES</stong></h1>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEstado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEstado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeFederativa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnidadeFederativa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">De volta a lista</a>
</div>
