@model Cadastro_e_Acesso.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<style>
    .row {
        max-width: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: lightgreen;
    }

    .a {
        margin: 20px;
        text-align: center;
        font-size: 2em;
    }
</style>

<h1><strong>EXCLUIR</strong></h1>

<h3>Você tem certeza que deseja excluir isto?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">De volta a lista</a>
    </form>
</div>
